variable "project" {
  type = string
  default = "change here!"
}

variable "region" {
  type = string
  default = "change here!"
}

variable "prefix" {
  type = string
  default = "change here!"
}

variable "docker_registry" {
  type    = string
  default = "change here!"
}

variable "concurrency" {
  type    = number
  default = 1
}

variable "aws_access_key" {
  type = string
  sensitive = true
  default = "change here!"
}

variable "aws_secret_access_key" {
  type = string
  sensitive = true
  default = "change here!"
}

variable "aws_region" {
  type = string
  default = "change here!'
}