variable "region" {
  type    = string
  default = "change here!"
}

variable "awscli_profile" {
  type    = string
  default = "change here!"
}

variable "prefix" {
  type    = string
  default = "change here!"
}

variable "route53_domain" {
  type    = string
  default = "change here!"
}

variable "docker_registry" {
  type    = string
  default = "change here!"
}

variable "docker_image_tag" {
  type    = string
  default = "change here!"
}
