#!/bin/bash
#ex) xxxxxxxxxxx.dkr.ecr.ap-northeast-2.amazonaws.com
#you need to create ECR repo and ecr login in instnace
DEFAULT_DOCKER_REPOSITORY_NAME=""
model_names=( "mobilenet_v1" "mobilenet_v2" "inception_v3" "yolo_v5" "bert_imdb" )

sudo DOCKER_BUILDKIT=1 docker build -t aws_lambda_docker_base -f ./build_assets/aws_lambda_dockerfiles/Dockerfile . --build-arg DOCKERIGNORE_FILE=./build_assets/aws_lambda_dockerfiles/.dockerignore
for model_name in "${model_names[@]}"
do
  sudo DOCKER_BUILDKIT=1 docker build -t $DEFAULT_DOCKER_REPOSITORY_NAME/aws-lambda-$model_name:latest -f ./build_assets/aws_lambda_dockerfiles/$model_name/Dockerfile . --build-arg DOCKERIGNORE_FILE=./build_assets/aws_lambda_dockerfiles/$model_name/.dockerignore
  sudo docker builder prune -f
done

for model_name in "${model_names[@]}"
do
  sudo docker push $DEFAULT_DOCKER_REPOSITORY_NAME/aws-lambda-$model_name:latest
done