#!/bin/bash
#ex) xxxxxxxxxxx.dkr.ecr.ap-northeast-2.amazonaws.com
DOCKER_REGISTRY=""
model_names=( "mobilenet_v1" "mobilenet_v2" "inception_v3" "yolo_v5" "bert_imdb" "distilbert_sst2" )

for model_name in "${model_names[@]}"
do
  sudo DOCKER_BUILDKIT=1 docker build -t $DOCKER_REGISTRY/aws-lambda-$model_name:latest -f ./aws_lambda_dockerfiles/$model_name/Dockerfile .
done

for model_name in "${model_names[@]}"
do
  sudo docker push $DOCKER_REGISTRY/aws-lambda-$model_name:latest
done