#!/bin/bash
bucket_name=""
model_names=( "mobilenet_v1" "mobilenet_v2" "inception_v3" "yolo_v5" "bert_imdb" )

for model_name in "${model_names[@]}"
do
  cd ./models
  zip -r $model_name.zip $model_name
  cd ..
  mv ./models/$model_name.zip .
  zip -j $model_name.zip ./build_assets/gcp_cloud_functions_codes/requirements.txt ./build_assets/gcp_cloud_functions_codes/$model_name/main.py
  gsutil cp $model_name.zip gs://$bucket_name
done