# GCP Run 추론 요청 서버의 주소, 모델 이름 설정
# AWS Lambda 추론 요청 서버의 주소, 모델 이름 설정
# ex) inference.com
aws_lambda_address = ''
# gcp_run prefix
gcp_run_prefix = ''
# gcp_run bench default address ex) xxxxxxxxxx.du.a.run.app
gcp_run_default_address = ''
# grpc https options
use_https = "1"
# 추론을 테스트할 모델 이름들
model_names = ["mobilenet_v1","mobilenet_v2","inception_v3","yolo_v5","bert_imdb"]
# 테스트 추론 횟수들 지정 (병렬로 한번에 처리됩니다.)
num_tasks = [1,10,30]
# CloudWatch Logs Log Group Name
log_group_name = ''