variable "location" {
  type = string
  default = "change here!"
}

variable "prefix" {
  type = string
  default = "change here!"
}

variable "resource_group_name" {
  type = string
  default = "change here!"
}

variable "ssh-username" {
  type = string
  default = "change here!"
}

variable "ssh-keyname" {
  type = string
  default = "change here!"  
}